snippet !!! "HTML5 Template"
!!!5
html
	head
		meta(charset="utf-8")
		title ${1:Untitled}
		$2
	body
		$0
endsnippet

snippet link "Stylesheet link"
link(rel="stylesheet", href="${1:style}.css", type="text/css")
endsnippet

snippet script "Script link"
script(src="${1:js/script.js}", type="${2:text/javascript}")
endsnippet

snippet prettify "Prettify.js link"
script(src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js")
endsnippet
