#extends css

snippet + "include"
@include $1;
endsnippet

snippet if "@if"
@if $1
endsnippet

snippet = "mixin"
@mixin ${1:name} {
    $0
}
endsnippet

snippet ex "extends"
@extends $1;
endsnippet

snippet clear "clearfix"
display: inline-block;
&:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
* html & { height: 1px }
endsnippet

snippet "test([0-9]+)" "test" r
color: `!p snip.rv = match.group(1)`$0;
endsnippet
