#########################
#  Remote resources     #
#########################
snippet jql "jq latest"
<script src="//code.jquery.com/jquery-latest.min.js"></script>$0
endsnippet

snippet jq "jq"
<script src="//ajax.googleapis.com/ajax/libs/jquery/${1:1.10.2}/jquery.min.js" type="text/javascript"></script>${2}
endsnippet

snippet font "google font link"
<link href="//fonts.googleapis.com/css?family=${1:FontName}:${2:sizes}" rel="stylesheet" type="text/css">
endsnippet

# vim:ft=snippets:
