
snippet game "Phaser Init"
var game = new Phaser.Game(${1:1024}, ${2:768}, Phaser.AUTO, '${3:ID}');
endsnippet

snippet gstateadd "Phaser state"
game.state.add('${1:id}', ${2:StateObj});
endsnippet

