snippet config "requirejs.config"
requirejs.config({
	baseUrl: '${1:js/lib}',
	paths: {
		$0
	}
});
endsnippet

snippet requirejs "requirejs"
requirejs(${1:'lib'}, function (${1:lib}) {
	$0
});
endsnippet
